header .navbar {
  background-color: $bg-navbar;
  text-align: center;

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    @include respond-to("medium") {
      justify-content: flex-start;
      li {
        margin-right: 1em;
        margin-bottom: 0;
        &:last-child {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }

  li {
    margin-bottom: 0.75em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    color: $text-white;
    padding: 1em 0.5em;
    transition: all 0.3s ease;
    &:hover {
      background-color: $text-white;
      color: $bg-navbar;
    }
  }
}
