body {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: $text-color;
}

.navbar {
  a {
    text-decoration: none;
    color: $text-white;
  }
}

.container {
  padding: 1.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
